label{
   width: 100px;
    display: inline-block;
}
fieldset {
    border: 3px solid navy;
    background: cadetblue;
    border-radius: 20px;
    
}
body {
    background-color: rebeccapurple
}